#editProfile .edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
   .edit-profile h2 {
    margin-bottom: 20px;
  }
  
  #editProfile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
  }
  
  #editProfile label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  #editProfile button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  